*{
    box-sizing: border-box;
}

body{
    background-image: url(imgs/form_bg_img.avif);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    margin: 0px;
}


.divider{
    width: 45vw;
    height: 100vh;
    background-color: white;
}