*{
    box-sizing: border-box;
}

body{
    background-image: url(imgs/form_bg_img.avif);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    margin: 0px;
}


.divider{
    width: 45vw;
    height: 100vh;
    background-color: white;
}

form{
    width: inherit;
    height:auto;
}

.form-container{
    height: inherit;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    gap: 5px;
}

li{
    width: 33.33%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
    gap: 5px;
}
